/*applies to all pages*/
* {
    font-size: 1.4rem; 
}
body {
    width: 100%;
    max-width: 100w;
    margin: 0;
    overflow-x: hidden;
}
nav{
    background-color:#063C5E;
}
.nav-image{
    width: 300px;
}
.nav-links {
    padding-bottom: 20px;
    list-style-type:none;  
    display: flex; 
    gap: 120px; 
    margin-left: 60px;
}
.nav-links-two {
    color: #FFFFFF;
    text-decoration: none; 
}
footer{
    background-color: #063C5E;
    border-top: 6px #FCCF14 solid; 
}
.footer-image {
    width: 150px;
}
.footer-headings {
    color: #FFFFFF;
    margin-left: 10px;
}
.footer-words {
    color: #FFFFFF;
    margin: 0;
    margin-left:10px;
    
}
.footer-links{
    color: #FFFFFF;
    margin: 0;
    margin-left: 10px;
    text-decoration: none; 
}
.container {
    margin: 60px; 
    border: solid #063C5E 5px;
    padding: 25px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    space-between: 100px;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* Index html file */
.index-image{
    width: 200px;
}
.index-html-button{
    margin-bottom: 20px;
}
.title-one {
    font-weight:bold;
    font-size: 30px;
    letter-spacing: -1px;
}
.comic-title{
    font-style: italic;
    margin:0; 
}
.comic-descrip{
    margin: 0;
}

/* One-Piece page */
.one-piece-page{
    width:80%;
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    border: 5px solid #FCCF14;
    border-radius: 50px;
    background-color:  #063C5E;
    display: block; 
}
.title-comic-page{
    text-align: center;
    margin-top: 20px;
    color: #FCCF14; 
    margin-left: 90px;
}
.comic-page-image{
    width: 280px;
    margin-left: 50px; 
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 5%; 
}
.comic-details{
    width: 95%;
    background-color: #FFFFFF;
    padding: 2%;
    border: 5px solid #FCCF14;
    border-radius: 0 0 48px 40px;
}
.upper-comic{
    width: 80%;
}
.details-text{
    text-decoration: underline; 
    color: #063C5E;
    font-weight: bold;
}

/*About Page*/
.about-content {
    text-align: center; 
    color: #063C5E; 
    font-weight: bold; 
}
