/*applies to all pages*/
* {
    font-size: 1.4rem; 
}
body {
    width: 100%;
    max-width: 100w;
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(180deg, lightblue,teal);
}
nav{
    background-color:#063C5E;
}
.nav-image{
    width: 300px;
}
.nav-links {
    padding-bottom: 20px;
    list-style-type:none;  
    display: flex; 
    gap: 120px; 
    margin-left: 60px;
}
.nav-links-two {
    color: #FFFFFF;
    text-decoration: none; 
}
nav a:hover {
    color: #FCCF14; 
    font-weight: bold; 
}
nav a:visited {
    color: #FFFFFF;
}
nav a:active {
    font-weight: bold; 
    color: blue;
    background-color: #FCCF14;
}
footer{
    background-color: #063C5E;
    border-top: 6px #FCCF14 solid; 
}
.footer-image {
    width: 150px;
}
.footer-headings {
    color: #FCCF14;
    margin-left: 10px;
}
.footer-words {
    color: #FFFFFF;
    margin: 0;
    margin-left:10px;
    
}
.footer-links{
    color: #FFFFFF;
    margin: 0;
    margin-left: 10px;
    text-decoration: none; 
}
footer a:hover {
    color: #FCCF14; 
    font-weight: bold;
}
footer a:visited {
    color: #FFFFFF;
}
footer a:active {
    font-weight: bold; 
    color: blue;
    background-color: #FCCF14;
}
.container {
    margin: 60px; 
    border: solid #063C5E 5px;
    padding: 25px;
    background-color: white; 
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    place-content: 120px;
    margin-left: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
}

/* Index html file */
.index-image{
    width: 200px;
}
.index-html-button{
    margin-bottom: 20px;
}
.title-one {
    font-weight:bold;
    font-size: 30px;
    letter-spacing: -1px;
}
.comic-title{
    font-style: italic;
    margin:0; 
}
.comic-descrip{
    margin: 0;
}

/* One-Piece page */
.one-piece-page{
    width:80%;
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    border: 5px solid #FCCF14;
    border-radius: 50px;
    background-color:  #063C5E;
    display: block; 
}
.title-comic-page{
    text-align: center;
    margin-top: 20px;
    color: #FCCF14; 
    margin-left: 90px;
}
.comic-page-image{
    width: 280px;
    margin-left: 50px; 
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 5%; 
}
.comic-details{
    width: 95%;
    background-color: #FFFFFF;
    padding: 2%;
    border: 5px solid #FCCF14;
    border-radius: 0 0 48px 40px;
}
.upper-comic{
    width: 80%;
}
.details-text{
    text-decoration: underline; 
    color: #063C5E;
    font-weight: bold;
}

/*About Page*/
.about-content {
    text-align: center; 
    color: #063C5E; 
    font-weight: bold; 
}

/*Login Page*/
.login-form {
    display: flex; 
    flex-direction: column; 
    gap: 40px; 
}
.login-title {
    text-align: center; 
    color: #063C5E; 
}
.input-group {
    text-align: center; 
}
.btn {
    border: #063C5E solid 3px; 
    width: 120px; 
    color: #063C5E; 
    background-color: #FCCF14; 
    align-self: center; 
}
/*Create New Comic Page*/ 
.new-comic-form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 50px;
    gap: 10px; 
}
/*Admin Page*/
.admin-page-title {
    color: #063C5E; 
    text-align: center; 
}
.admin-page-button {
    background-color: #FCCF14;
    color: #063C5E;
    display:flex; 
    align-self: center;
}
table, tr, th, td {
    border: 2px solid #063C5E; 
    border-collapse: collapse; 
    height: 30px;
    padding: 20px;
    margin: 40px;
}
td {
    text-align: left; 
}
/* :nth-child(odd){
    background-color: grey;
}*/
.edit-btn {
    background-color:#063C5E; 
    color:#FFFFFF;
}
.delete-btn{
    background-color: #FCCF14;
    color:#063C5E;
}
/*Input Page*/ 
.input-group {
    display: flex; 
    justify-content: center; 
}